parameters:
	ignoreErrors:
		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Concerns\\\\Constructor is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Concerns/Constructor.php

		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Concerns\\\\Extractor is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Concerns/Extractor.php

		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Concerns\\\\Getters is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Concerns/Getters.php

		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Concerns\\\\Reporters is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Concerns/Reporters.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Contracts/Mapper.php

		-
			message: "#^Access to an uninitialized readonly property Henzeb\\\\Enumhancer\\\\Helpers\\\\EnumProxy\\:\\:\\$name\\.$#"
			count: 1
			path: src/Helpers/EnumProxy.php

		-
			message: "#^Call to method to\\(\\) on an unknown class Henzeb\\\\Enumhancer\\\\Concerns\\\\State\\.$#"
			count: 1
			path: src/Helpers/EnumState.php

		-
			message: "#^Call to method tryTo\\(\\) on an unknown class Henzeb\\\\Enumhancer\\\\Concerns\\\\State\\.$#"
			count: 1
			path: src/Helpers/EnumState.php

		-
			message: "#^PHPDoc tag @var for variable \\$currentState has invalid type Henzeb\\\\Enumhancer\\\\Concerns\\\\State\\.$#"
			count: 1
			path: src/Helpers/EnumState.php

		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Laravel\\\\Concerns\\\\CastsBasicEnumerations is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Laravel/Concerns/CastsBasicEnumerations.php

		-
			message: "#^Trait Henzeb\\\\Enumhancer\\\\Laravel\\\\Concerns\\\\CastsStatefulEnumerations is used zero times and is not analysed\\.$#"
			count: 1
			path: src/Laravel/Concerns/CastsStatefulEnumerations.php

		-
			message: "#^Call to method isTransitionAllowed\\(\\) on an unknown class Henzeb\\\\Enumhancer\\\\Concerns\\\\State\\.$#"
			count: 1
			path: src/Laravel/Rules/EnumTransition.php

		-
			message: "#^PHPDoc tag @var for variable \\$currentState has invalid type Henzeb\\\\Enumhancer\\\\Concerns\\\\State\\.$#"
			count: 1
			path: src/Laravel/Rules/EnumTransition.php
